<main>
    <h2>Аккаунт официально подтвержден администрацией сервиса</h2>
    <h3>Уважаемый <%=email%>, Ваша учетная запись официально подтверждена,
        и Вам предоставлен доступ к сервису UniTest. Желаем приятной работы!
    </h3>
    <p>Для авторизации воспользуйтесь соответствующим разделом на сайте или перейдите по этой ссылке:
        <a href="<%=process.env.API_CLIENT_URL + '/login'%>"><%=process.env.API_CLIENT_URL + '/login'%></a>
    </p>
</main>