<main>
    <h2>Доступ к сервису UniTest прекращен</h2>
    <h3>Уважаемый <%=email%>, Ваша учетная запись была отключена от сервиса UniTest.
       Благодарим Вас за использование данного сервиса!</h3>
</main>