.buttonsContainer{
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;


}

.wrapper{
  h3{
    text-align: center;
  }
}

