.filterControlsContainer{
  padding: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &{
    //margin-left: 15px;
    padding-bottom: 20px;
  }

  Input{
    margin-left: 20px;
    margin-right: 20px;
  }

  .selectContainer{
    width: 20%;
  }

  .searchContainer{
    margin-left: 20px;
    width: 75%;
    line-height: 25px;

    .timeSettings{
      display: flex;
      justify-content: space-between;
      align-items: center;

      Slider{
        width: 80%;
      }
    }
  }
}

.tableContainer{
  display: flex;
  justify-content: center;
}

.wrapper{
  h3{
    margin: 0;
    padding-top: 20px;
    text-align: center;
  }
}