.wrapper{
  background-color: #1a1942;
  width: 100%;
  min-height: calc(100vh - 80px);
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;

  div{
    h1{
      font-size: 80px;
      text-align: center;
    }

    h2{
      text-align: center;
    }

    h2, p{
      margin-bottom: 20px;
    }

    .buttonContainer{
      display: flex;
      justify-content: center;
    }
  }




}